.navbar-list {
  height: 100%;
  width: 100%;
  background-color: #009a44;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #009a44;
}

.navbar-item {
  padding-right: 80px;
}

a {
  color: #fedd00;
  text-decoration: none;
  padding: 3px;
  font-size: larger;
}

a:hover {
  background-color: #ef3340;
  border-radius: 5px;
}

.home {
  background-image: url("img/home-back.jpg");
  width: 100%;
  height: 1000px;
  background-size: 100% 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-home {
  text-align: center;
  color: #fedd00;
  padding-top: 20px;
}

.home-box {
  background-color: rgba(6, 69, 177, 0.8);
  width: 800px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.about-box {
  background-color: rgba(6, 69, 177, 0.8);
  width: 900px;
  height: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.quiz-box {
  background-color: rgba(6, 69, 177, 0.8);
  width: 900px;
  height: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.home-img {
  padding-top: 20px;
  width: 350px;
  height: 350px;
}

.about1-img {
  padding-top: 20px;
  width: 200px;
  height: 190px;
  margin-left: 20px;
}

.about2-img {
  padding-top: 20px;
  width: 200px;
  height: 190px;
  margin-left: 20px;
  border-radius: 30%;
}

.home-message {
  padding-top: 20px;
  font-size: xx-large;
  color: #fedd00;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
}

.about-p {
  padding-top: 20px;
  font-size: large;
  color: #fedd00;
  margin-left: 15px;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  text-indent: 20px;
}

.about-section-flex {
  display: flex;
  height: 210px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.quiz-section-flex {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.break {
  height: 5px;
  width: 85%;
  background-color: #009a44;
}

.input {
  border-radius: 20px;
  height: 20px;
  width: 300px;
  margin-top: 20px;
}

.button {
  margin-bottom: 10px;
  background-color: #fedd00;
}

.advice,
.output {
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: #fedd00;
  text-align: center;
}

.res {
  padding-top: 20px;
  font-size: large;
  color: #fedd00;
  margin-left: 15px;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
